<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

    <!-- these two properties must be declared before the include base.xml -->
    <!-- https://github.com/spring-projects/spring-boot/issues/5124 -->
    <!--<property name="LOG_TEMP" value="./logs"/>-->
    <!--<property name="LOG_FILE" value="${LOG_TEMP}/klask.log"/>-->


    <!--<include resource="org/springframework/boot/logging/logback/base.xml"/>-->
    <!-- par défaut cette inclusion créé toujours un spring.log dans un répertoire temp, je préfère contrôler où vont les fichiers-->
    <!-- on redéfinit donc plutôt l'inclusion du default.xml et non le base.xml-->
    <!-- https://docs.spring.io/spring-boot/docs/current/reference/html/howto-logging.html#howto-configure-logback-for-logging-fileonly -->
    <!-- github springboot : https://github.com/spring-projects/spring-boot/tree/master/spring-boot/src/main/resources/org/springframework/boot/logging/logback -->


    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <property name="LOG_PATH" value="${LOG_PATH:-${LOG_TEMP:-./logs}}"/>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH}/klask.log}"/>
    <property name="FILE_LOG_PATTERN"
              value="-%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } -- %15.15X{context.info:-  LOCALHOST  } [%15.15t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
    <!-- redefinition of appender FILE for production-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/klask.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>5</maxHistory>
            <totalSizeCap>50MB</totalSizeCap>
        </rollingPolicy>
    </appender>

<!-- The FILE and ASYNC appenders are here as examples for a production configuration -->
<!--
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>%d %-5level [%thread] %logger{0}: %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="FILE"/>
    </appender>
-->

    <logger name="io.klask" level="#logback.loglevel#"/>
    <logger name="org.springframework.data.elasticsearch.core.ElasticsearchTemplate" level="DEBUG"/>
    <!--<logger name="io.klask.crawler.svn.SVNVisitorCrawler" level="TRACE"/>-->
    <!--<logger name="io.klask.crawler.impl.SVNCrawler" level="TRACE"/>-->

    <logger name="io.klask.repository.search.CustomSearchRepositoryImpl" level="DEBUG"/>
    <!--<logger name="CustomSearchRepositoryImpl" level="TRACE"/>-->
    <logger name="io.klask.web.rest.FileResource" level="DEBUG"/>
    <logger name="io.klask.web.rest.CrawlerResource" level="DEBUG"/>
    <logger name="io.klask.service.CrawlerService" level="DEBUG"/>
    <logger name="svnkit" level="WARN"/>

    <logger name="javax.activation" level="WARN"/>
    <logger name="javax.mail" level="WARN"/>
    <logger name="javax.xml.bind" level="WARN"/>
    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="com.codahale.metrics" level="WARN"/>
    <logger name="com.ryantenney" level="WARN"/>
    <logger name="com.sun" level="WARN"/>
    <logger name="com.zaxxer" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
    <logger name="org.bson" level="WARN"/>
    <logger name="org.elasticsearch" level="WARN"/>
    <logger name="org.hibernate.validator" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.ejb.HibernatePersistence" level="OFF"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.springframework.security" level="WARN"/>
    <logger name="org.springframework.cache" level="WARN"/>
    <logger name="org.thymeleaf" level="WARN"/>
    <logger name="org.xnio" level="WARN"/>
    <logger name="springfox" level="WARN"/>
    <logger name="sun.rmi" level="WARN"/>
    <logger name="liquibase" level="WARN"/>
    <logger name="sun.rmi.transport" level="WARN"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <root level="#logback.loglevel#">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
