<div>
    <h2 translate="klaskApp.repository.home.title">Repositories</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="repository.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" translate="klaskApp.repository.home.createLabel">
                        Create new Repository
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right">
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery"
                               placeholder="{{ 'klaskApp.repository.home.search' | translate }}">
                        <span class="input-group-btn width-min">
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="path"><span translate="klaskApp.repository.path">Path</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="username"><span translate="klaskApp.repository.username">Username</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="password"><span translate="klaskApp.repository.password">Password</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="type"><span translate="klaskApp.repository.type">Type</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="name"><span translate="klaskApp.repository.name">Name</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="revision"><span translate="klaskApp.repository.revision">Revision</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="repository in vm.repositories track by repository.id">
                <td><a ui-sref="repository-detail({id:repository.id})">{{repository.id}}</a></td>
                <td>{{repository.path}}</td>
                <td>{{repository.username}}</td>
                <td>{{repository.password}}</td>
                <td translate="{{'klaskApp.RepositoryType.' + repository.type}}">{{repository.type}}</td>
                <td>{{repository.name}}</td>
                <td>{{repository.revision}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="repository-detail({id:repository.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="repository.edit({id:repository.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="repository.delete({id:repository.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
                        ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
