<div ng-cloak>
    <div class="col-md-2 col-lg-2">
        <div class="well">
            <div class="row">
                <!-- DEBUG
                <span>{{vm.versionsSelected}}</span>-->
                <input type="search" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty"
                       ng-model="queryversion" placeholder="{{ 'klaskApp.file.home.version.search' | translate }}"
                       aria-label="filter version"/>
                <ul class="list-group" ng-init="limitVersion=4;foldVersion=true">
                    <li class="rightAlign"
                        ng-repeat="version in vm.versionsOnRequest | filter:queryversion as filteredVersion ">
                        <h5>
                            <a href ng-if="$index<limitVersion || vm.isVersionIsActive(version.name)"
                               ng-class="vm.isVersionIsActive(version.name) ? 'label label-success' : 'label label-info'"
                               ng-click="vm.filterByVersion(version.name)">
                                {{version.name}}
                                <span class="badge">{{version.docNumber.toLocaleString("fr")}}</span>
                            </a>
                        </h5>
                    </li>
                    <li class="rightAlign">
                        <a href ng-show="foldVersion && filteredVersion.length > limitVersion" class="label label-info"
                           ng-click='limitVersion=100;foldVersion=!foldVersion'>...</a>
                        <a href ng-show="!foldVersion" class="label label-info"
                           ng-click='limitVersion=4;foldVersion=!foldVersion'><span
                            class="glyphicon glyphicon-triangle-top"></span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <input type="search" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty"
                       ng-model="queryproject" placeholder="{{ 'klaskApp.file.home.project.search' | translate }}"
                       aria-label="filter project"/>
                <ul class="list-group" ng-init="limitProject=4;foldProject=true">
                    <li class="rightAlign"
                        ng-repeat="project in vm.projectsOnRequest | filter:queryproject as filteredProject ">
                        <h5>
                            <a href ng-if="$index<limitProject || vm.isProjectIsActive(project.name)"
                               ng-class="vm.isProjectIsActive(project.name) ? 'label label-success' : 'label label-primary'"
                               ng-click="vm.filterByProject(project.name)">
                                {{project.name}}
                                <span class="badge">{{project.docNumber.toLocaleString("fr")}}</span>
                            </a>
                        </h5>
                    </li>
                    <li class="rightAlign">
                        <a href ng-show="foldProject && filteredProject.length > limitProject"
                           class="label label-primary"
                           ng-click='limitProject=100;foldProject=!foldProject'>...</a>
                        <a href ng-show="!foldProject" class="label label-primary"
                           ng-click='limitProject=4;foldProject=!foldProject'><span
                            class="glyphicon glyphicon-triangle-top"></span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <input type="search" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty"
                       ng-model="queryextension"
                       placeholder="{{ 'klaskApp.file.home.extension.search' | translate }}"
                       aria-label="filter extension"/>
                <ul class="list-group" ng-init="limitExtension=4;foldExtension=true">
                    <li class="rightAlign"
                        ng-repeat="extension in vm.extensionsOnRequest | filter:queryextension as filteredExtension ">
                        <h5>
                            <a href ng-if="$index<limitExtension || vm.isExtensionIsActive(extension.name)"
                               ng-class="vm.isExtensionIsActive(extension.name) ? 'label label-success' : 'label label-primary'"
                               ng-click="vm.filterByExtension(extension.name)">
                                {{extension.name}}
                                <span class="badge">{{extension.docNumber.toLocaleString("fr")}}</span>
                            </a>
                        </h5>
                    </li>
                    <li class="rightAlign">
                        <a href ng-show="foldExtension && filteredExtension.length > limitExtension"
                           class="label label-primary"
                           ng-click='limitExtension=100;foldExtension=!foldExtension'>...</a>
                        <a href ng-show="!foldExtension" class="label label-primary"
                           ng-click='limitExtension=4;foldExtension=!foldExtension'><span
                            class="glyphicon glyphicon-triangle-top"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="padding-left-zero col-md-10 col-lg-10">
        <div class="well">
            <div class="row">
                <div>
                    <jhi-alert></jhi-alert>
                    <div class="container-fluid">
                        <div class="col-xs-4">
                            <h3 class="margin-top-zero">
                                <span class="label label-primary">{{'klaskApp.file.home.totalFiles' | translate}}
                                <span class="badge">{{vm.versionsOnRequest | countDocs}}</span></span>
                            </h3>
                        </div>
                        <div class="col-xs-8 no-padding-right align-right">
                            <form name="searchForm" class="form-inline">
                                <div class="input-group pull-right">
                                    <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery"
                                           placeholder="{{ 'klaskApp.file.home.search' | translate }}">
                        <span class="input-group-btn width-min">
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- vérifier ce qu'il y a avant cette balise -->
                <hr/>
                <div class="row">
                    <div class="container-fluid">
                        <div class="table-responsive">
                            <table class="jh-table table table-striped">
                                <thead>
                                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                                    <th jh-sort-by="name"><span translate="klaskApp.file.name">Name</span> <span
                                        class="glyphicon glyphicon-sort"></span></th>
                                    <th jh-sort-by="extension"><span
                                        translate="klaskApp.file.extension">Extension</span> <span
                                        class="glyphicon glyphicon-sort"></span></th>
                                    <th jh-sort-by="path"><span translate="klaskApp.file.path">Path</span> <span
                                        class="glyphicon glyphicon-sort"></span></th>
                                    <th jh-sort-by="version"><span
                                        translate="klaskApp.file.version">Version</span> <span
                                        class="glyphicon glyphicon-sort"></span></th>
                                    <th jh-sort-by="project"><span translate="klaskApp.file.project">Project</span>
                                        <span
                                        class="glyphicon glyphicon-sort"></span></th>
                                    <th jh-sort-by="size"><span translate="klaskApp.file.size">Size</span> <span
                                        class="glyphicon glyphicon-sort"></span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="file in vm.files track by file.id">
                                    <td colspan="6">
                                        <div>
                                            <div class="titreDoc">
                                                <big><a data-toggle="tooltip" data-placement="left"
                                                        title="{{file.name}}"
                                                        ui-sref="home-detail({id:file.id})">{{file.name|characters:60}}</a></big>
                                                <span class="label label-info">{{file.version}}</span>
                                                <span class="label label-primary">{{file.project}}</span>
                                                <span class="sizeDoc">{{file.size | formatKoMoGo}}</span>
                                            </div>
                                            <p class="small apercuCode"
                                               ng-bind-html="file.content | characters:500 | escapeall | unsafe"></p>
                                            <em class="pathDoc small" ng-bind-html="file.path | unsafe"></em>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center">
                            <jhi-item-count page="vm.page" total="vm.queryCount"
                                            items-per-page="vm.itemsPerPage"></jhi-item-count>
                            <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
                                            ng-change="vm.transition()"></uib-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

